/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');


/* Styles for the body */

body {
    font-family: Gotham, "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #39395A;
    background-color: #633360;
  
}

/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    background-color: #b9c7d7;
}

.resume-main {
	background-color: #fffefc;
}

.resume-aside {
	background-color: #efe2f5;
}


/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.proofofextraclass {
    font-style: italic;	
	
}

.biography-details li::before {
    color: #FF3F00;
}

.biography-details li, .skill-list li {
    padding-left: 1em;
    color: #C12121;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}
